@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Create", "Create", "Services", routeValues: null, htmlAttributes: new { @class = "p-2 text-dark" })
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-link" }))
    {

        @Html.AntiForgeryToken()

        <ul class="navbar navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

        </ul>
    }
}
else
{

    <li class="nav-link">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-outline-primary" })</li>
    <li class="nav-link">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-outline-primary" })</li>

}

@Scripts.Render("~/bundles/jquery")

